div.navBarLeft {width: 45px;}
div.navbarTopCategory {display: none;}

div.navBarLeftMciTrigger {width: 45px;}

div.lineColumnMainWide1{left: 67px;}
div.lineColumnMainWide2{left: 662px;}
div.lineColumnMainWide3{left: 1257px;}
div.lineColumnMainWide4{left: 1355px;}
div.lineColumnMainWide5{left: 1852px; width: 1px;}

div.box1sidePE {left: 1762px;}
div.box1sideMci {left: 1762px;}

div.title {left: 67px; }