div.navBarLeft {width: 542px;}
div.navBarLeftMci {width: 542px; }
div.navBarLeftMciTrigger {width: 45px; left: 497px;}

div.lineColumnMainWide1{left: 572px;}
div.lineColumnMainWide2{left: 1167px;}
div.lineColumnMainWide3{left: 1762px;}
div.lineColumnMainWide4{left: 1860px;}
div.lineColumnMainWide5{left: 2357px; width: 1px;}

div.box1sidePE {left: 2267px;}
div.box1sideMci {left: 2267px;}

div.title {left: 577px; }